ğŸ—¨ï¸ ë°ì´í„° ì›ë³¸ ì¶œì²˜ : [ì—ì–´ì½”ë¦¬ì•„ ë¯¸ì„¸ë¨¼ì§€ ì„¸ë¶€ ì¸¡ì •ì •ë³´](https://www.airkorea.or.kr/web/pmRelay?itemCode=10007&pMENU_NO=108)

In [1]:
from google.colab import drive
drive.mount('/content/gdrive')

Mounted at /content/gdrive

In [122]:
pm10_12 = pd.read_excel('/content/gdrive/MyDrive/Data Analysis/Aiffel/HAC/03/data/pm_data/pm10_2018 (12).xls')
pm10_1 = pd.read_excel('/content/gdrive/MyDrive/Data Analysis/Aiffel/HAC/03/data/pm_data/pm10_2019 (1).xls')
pm10_2 = pd.read_excel('/content/gdrive/MyDrive/Data Analysis/Aiffel/HAC/03/data/pm_data/pm10_2019 (2).xls')
pm10_3 = pd.read_excel('/content/gdrive/MyDrive/Data Analysis/Aiffel/HAC/03/data/pm_data/pm10_2019 (3).xls')
pm10_4 = pd.read_excel('/content/gdrive/MyDrive/Data Analysis/Aiffel/HAC/03/data/pm_data/pm10_2019 (4).xls')
pm10_5 = pd.read_excel('/content/gdrive/MyDrive/Data Analysis/Aiffel/HAC/03/data/pm_data/pm10_2019 (5).xls')
pm10_6 = pd.read_excel('/content/gdrive/MyDrive/Data Analysis/Aiffel/HAC/03/data/pm_data/pm10_2019 (6).xls')
pm10_7 = pd.read_excel('/content/gdrive/MyDrive/Data Analysis/Aiffel/HAC/03/data/pm_data/pm10_2019 (7).xls')
pm10_8 = pd.read_excel('/content/gdrive/MyDrive/Data Analysis/Aiffel/HAC/03/data/pm_data/pm10_2019 (8).xls')
pm10_9 = pd.read_excel('/content/gdrive/MyDrive/Data Analysis/Aiffel/HAC/03/data/pm_data/pm10_2019 (9).xls')
pm10_10 = pd.read_excel('/content/gdrive/MyDrive/Data Analysis/Aiffel/HAC/03/data/pm_data/pm10_2019 (10).xls')
pm10_11 = pd.read_excel('/content/gdrive/MyDrive/Data Analysis/Aiffel/HAC/03/data/pm_data/pm10_2019 (11).xls')

In [123]:
pm10_12 = pm10_12.drop(index=[0,1], axis=0)
pm10_12 = pm10_12.rename(columns=pm10_12.iloc[0])
pm10_12 = pm10_12.drop(index=[2])
pm10_12 = pm10_12.melt(id_vars='ì¸¡ì •ì†Œëª…', value_vars=['1ì¼', '2ì¼', '3ì¼', '4ì¼', '5ì¼', '6ì¼', '7ì¼', '8ì¼', '9ì¼', '10ì¼', '11ì¼', '12ì¼', '13ì¼', '14ì¼', '15ì¼', '16ì¼', '17ì¼', '18ì¼', '19ì¼', '20ì¼', '21ì¼', '22ì¼', '23ì¼', '24ì¼', '25ì¼', '26ì¼', '27ì¼', '28ì¼', '29ì¼', '30ì¼', '31ì¼'])
pm10_12['year'] = '2018'
pm10_12['month'] = '12'
pm10_12['variable'] = pm10_12['variable'].str.replace('ì¼','')
pm10_12 = pm10_12.rename(columns = {'variable':'days'})
pm10_12['days'] = pm10_12['days'].replace(['1','2','3','4','5','6','7','8','9'], ['01','02','03','04','05','06','07','08','09'])
pm10_12['date'] = pm10_12['year'] + "-" + pm10_12['month'] + "-" + pm10_12['days']
pm10_12 = pm10_12.drop(['days', 'year', 'month'], axis=1)
pm10_12

                    ì¸¡ì •ì†Œëª… value        date
0            [ê²½ê¸° ì´ì²œì‹œ]ì„¤ì„±ë©´    70  2018-12-01
1             [ê²½ê¸° íŒŒì£¼ì‹œ]íŒŒì£¼   NaN  2018-12-01
2            [ê²½ê¸° í¬ì²œì‹œ]ê´€ì¸ë©´    38  2018-12-01
3             [ê²½ê¸° ê°€í‰êµ°]ê°€í‰    38  2018-12-01
4            [ê²½ê¸° ê³ ì–‘ì‹œ]ì‹ì‚¬ë™    44  2018-12-01
...                  ...   ...         ...
2785  [ê²½ê¸° ì„±ë‚¨ì‹œ]ëŒ€ì™•íŒêµë¡œ(ë°±í˜„ë™)    44  2018-12-31
2786   [ê²½ê¸° ì„±ë‚¨ì‹œ]ì„±ë‚¨ëŒ€ë¡œ(ëª¨ë€ì—­)    55  2018-12-31
2787   [ê²½ê¸° ìˆ˜ì›ì‹œ]ê²½ìˆ˜ëŒ€ë¡œ(ë™ìˆ˜ì›)    62  2018-12-31
2788   [ê²½ê¸° ì•ˆì‚°ì‹œ]ì¤‘ì•™ëŒ€ë¡œ(ê³ ì”ë™)    49  2018-12-31
2789   [ê²½ê¸° ìš©ì¸ì‹œ]ì¤‘ë¶€ëŒ€ë¡œ(êµ¬ê°ˆë™)    50  2018-12-31

[2790 rows x 3 columns]

In [124]:
pm10_1 = pm10_1.drop(index=[0,1], axis=0)
pm10_1 = pm10_1.rename(columns=pm10_1.iloc[0])
pm10_1 = pm10_1.drop(index=[2])
pm10_1 = pm10_1.melt(id_vars='ì¸¡ì •ì†Œëª…', value_vars=['1ì¼', '2ì¼', '3ì¼', '4ì¼', '5ì¼', '6ì¼', '7ì¼', '8ì¼', '9ì¼', '10ì¼', '11ì¼', '12ì¼', '13ì¼', '14ì¼', '15ì¼', '16ì¼', '17ì¼', '18ì¼', '19ì¼', '20ì¼', '21ì¼', '22ì¼', '23ì¼', '24ì¼', '25ì¼', '26ì¼', '27ì¼', '28ì¼', '29ì¼', '30ì¼', '31ì¼'])
pm10_1['year'] = '2019'
pm10_1['month'] = '01'
pm10_1['variable'] = pm10_1['variable'].str.replace('ì¼','')
pm10_1 = pm10_1.rename(columns = {'variable':'days'})
pm10_1['days'] = pm10_1['days'].replace(['1','2','3','4','5','6','7','8','9'], ['01','02','03','04','05','06','07','08','09'])
pm10_1['date'] = pm10_1['year'] + "-" + pm10_1['month'] + "-" + pm10_1['days']
pm10_1 = pm10_1.drop(['days', 'year', 'month'], axis=1)
pm10_1

                    ì¸¡ì •ì†Œëª… value        date
0            [ê²½ê¸° ì´ì²œì‹œ]ì„¤ì„±ë©´    55  2019-01-01
1             [ê²½ê¸° íŒŒì£¼ì‹œ]íŒŒì£¼    50  2019-01-01
2            [ê²½ê¸° í¬ì²œì‹œ]ê´€ì¸ë©´    43  2019-01-01
3             [ê²½ê¸° ê°€í‰êµ°]ê°€í‰    32  2019-01-01
4            [ê²½ê¸° ê³ ì–‘ì‹œ]ì‹ì‚¬ë™    43  2019-01-01
...                  ...   ...         ...
2816  [ê²½ê¸° ì„±ë‚¨ì‹œ]ëŒ€ì™•íŒêµë¡œ(ë°±í˜„ë™)    65  2019-01-31
2817   [ê²½ê¸° ì„±ë‚¨ì‹œ]ì„±ë‚¨ëŒ€ë¡œ(ëª¨ë€ì—­)    77  2019-01-31
2818   [ê²½ê¸° ìˆ˜ì›ì‹œ]ê²½ìˆ˜ëŒ€ë¡œ(ë™ìˆ˜ì›)    83  2019-01-31
2819   [ê²½ê¸° ì•ˆì‚°ì‹œ]ì¤‘ì•™ëŒ€ë¡œ(ê³ ì”ë™)    65  2019-01-31
2820   [ê²½ê¸° ìš©ì¸ì‹œ]ì¤‘ë¶€ëŒ€ë¡œ(êµ¬ê°ˆë™)    76  2019-01-31

[2821 rows x 3 columns]

In [125]:
pm10_2 = pm10_2.drop(index=[0,1], axis=0)
pm10_2 = pm10_2.rename(columns=pm10_2.iloc[0])
pm10_2 = pm10_2.drop(index=[2])
pm10_2 = pm10_2.melt(id_vars='ì¸¡ì •ì†Œëª…', value_vars=['1ì¼', '2ì¼', '3ì¼', '4ì¼', '5ì¼', '6ì¼', '7ì¼', '8ì¼', '9ì¼', '10ì¼', '11ì¼', '12ì¼', '13ì¼', '14ì¼', '15ì¼', '16ì¼', '17ì¼', '18ì¼', '19ì¼', '20ì¼', '21ì¼', '22ì¼', '23ì¼', '24ì¼', '25ì¼', '26ì¼', '27ì¼', '28ì¼'])
pm10_2['year'] = '2019'
pm10_2['month'] = '02'
pm10_2['variable'] = pm10_2['variable'].str.replace('ì¼','')
pm10_2 = pm10_2.rename(columns = {'variable':'days'})
pm10_2['days'] = pm10_2['days'].replace(['1','2','3','4','5','6','7','8','9'], ['01','02','03','04','05','06','07','08','09'])
pm10_2['date'] = pm10_2['year'] + "-" + pm10_2['month'] + "-" + pm10_2['days']
pm10_2 = pm10_2.drop(['days', 'year', 'month'], axis=1)
pm10_2

                    ì¸¡ì •ì†Œëª… value        date
0            [ê²½ê¸° ì´ì²œì‹œ]ì„¤ì„±ë©´    52  2019-02-01
1             [ê²½ê¸° íŒŒì£¼ì‹œ]íŒŒì£¼    45  2019-02-01
2            [ê²½ê¸° í¬ì²œì‹œ]ê´€ì¸ë©´    43  2019-02-01
3             [ê²½ê¸° ê°€í‰êµ°]ê°€í‰    39  2019-02-01
4            [ê²½ê¸° ê³ ì–‘ì‹œ]ì‹ì‚¬ë™    35  2019-02-01
...                  ...   ...         ...
2571  [ê²½ê¸° ì„±ë‚¨ì‹œ]ëŒ€ì™•íŒêµë¡œ(ë°±í˜„ë™)    85  2019-02-28
2572   [ê²½ê¸° ì„±ë‚¨ì‹œ]ì„±ë‚¨ëŒ€ë¡œ(ëª¨ë€ì—­)   103  2019-02-28
2573   [ê²½ê¸° ìˆ˜ì›ì‹œ]ê²½ìˆ˜ëŒ€ë¡œ(ë™ìˆ˜ì›)   119  2019-02-28
2574   [ê²½ê¸° ì•ˆì‚°ì‹œ]ì¤‘ì•™ëŒ€ë¡œ(ê³ ì”ë™)    92  2019-02-28
2575   [ê²½ê¸° ìš©ì¸ì‹œ]ì¤‘ë¶€ëŒ€ë¡œ(êµ¬ê°ˆë™)   105  2019-02-28

[2576 rows x 3 columns]

In [126]:
pm10_3 = pm10_3.drop(index=[0,1], axis=0)
pm10_3 = pm10_3.rename(columns=pm10_3.iloc[0])
pm10_3 = pm10_3.drop(index=[2])
pm10_3 = pm10_3.melt(id_vars='ì¸¡ì •ì†Œëª…', value_vars=['1ì¼', '2ì¼', '3ì¼', '4ì¼', '5ì¼', '6ì¼', '7ì¼', '8ì¼', '9ì¼', '10ì¼', '11ì¼', '12ì¼', '13ì¼', '14ì¼', '15ì¼', '16ì¼', '17ì¼', '18ì¼', '19ì¼', '20ì¼', '21ì¼', '22ì¼', '23ì¼', '24ì¼', '25ì¼', '26ì¼', '27ì¼', '28ì¼', '29ì¼', '30ì¼', '31ì¼'])
pm10_3['year'] = '2019'
pm10_3['month'] = '03'
pm10_3['variable'] = pm10_3['variable'].str.replace('ì¼','')
pm10_3 = pm10_3.rename(columns = {'variable':'days'})
pm10_3['days'] = pm10_3['days'].replace(['1','2','3','4','5','6','7','8','9'], ['01','02','03','04','05','06','07','08','09'])
pm10_3['date'] = pm10_3['year'] + "-" + pm10_3['month'] + "-" + pm10_3['days']
pm10_3 = pm10_3.drop(['days', 'year', 'month'], axis=1)
pm10_3

                    ì¸¡ì •ì†Œëª… value        date
0            [ê²½ê¸° ì´ì²œì‹œ]ì„¤ì„±ë©´   152  2019-03-01
1             [ê²½ê¸° íŒŒì£¼ì‹œ]íŒŒì£¼   123  2019-03-01
2            [ê²½ê¸° í¬ì²œì‹œ]ê´€ì¸ë©´    90  2019-03-01
3             [ê²½ê¸° ê°€í‰êµ°]ê°€í‰    82  2019-03-01
4            [ê²½ê¸° ê³ ì–‘ì‹œ]ì‹ì‚¬ë™    89  2019-03-01
...                  ...   ...         ...
2847  [ê²½ê¸° ì„±ë‚¨ì‹œ]ëŒ€ì™•íŒêµë¡œ(ë°±í˜„ë™)    44  2019-03-31
2848   [ê²½ê¸° ì„±ë‚¨ì‹œ]ì„±ë‚¨ëŒ€ë¡œ(ëª¨ë€ì—­)    46  2019-03-31
2849   [ê²½ê¸° ìˆ˜ì›ì‹œ]ê²½ìˆ˜ëŒ€ë¡œ(ë™ìˆ˜ì›)    54  2019-03-31
2850   [ê²½ê¸° ì•ˆì‚°ì‹œ]ì¤‘ì•™ëŒ€ë¡œ(ê³ ì”ë™)    40  2019-03-31
2851   [ê²½ê¸° ìš©ì¸ì‹œ]ì¤‘ë¶€ëŒ€ë¡œ(êµ¬ê°ˆë™)    46  2019-03-31

[2852 rows x 3 columns]

In [127]:
pm10_4 = pm10_4.drop(index=[0,1], axis=0)
pm10_4 = pm10_4.rename(columns=pm10_4.iloc[0])
pm10_4 = pm10_4.drop(index=[2])
pm10_4 = pm10_4.melt(id_vars='ì¸¡ì •ì†Œëª…', value_vars=['1ì¼', '2ì¼', '3ì¼', '4ì¼', '5ì¼', '6ì¼', '7ì¼', '8ì¼', '9ì¼', '10ì¼', '11ì¼', '12ì¼', '13ì¼', '14ì¼', '15ì¼', '16ì¼', '17ì¼', '18ì¼', '19ì¼', '20ì¼', '21ì¼', '22ì¼', '23ì¼', '24ì¼', '25ì¼', '26ì¼', '27ì¼', '28ì¼', '29ì¼', '30ì¼'])
pm10_4['year'] = '2019'
pm10_4['month'] = '04'
pm10_4['variable'] = pm10_4['variable'].str.replace('ì¼','')
pm10_4 = pm10_4.rename(columns = {'variable':'days'})
pm10_4['days'] = pm10_4['days'].replace(['1','2','3','4','5','6','7','8','9'], ['01','02','03','04','05','06','07','08','09'])
pm10_4['date'] = pm10_4['year'] + "-" + pm10_4['month'] + "-" + pm10_4['days']
pm10_4 = pm10_4.drop(['days', 'year', 'month'], axis=1)
pm10_4

                    ì¸¡ì •ì†Œëª… value        date
0            [ê²½ê¸° ì´ì²œì‹œ]ì„¤ì„±ë©´    32  2019-04-01
1             [ê²½ê¸° íŒŒì£¼ì‹œ]íŒŒì£¼    35  2019-04-01
2            [ê²½ê¸° í¬ì²œì‹œ]ê´€ì¸ë©´    25  2019-04-01
3             [ê²½ê¸° ê°€í‰êµ°]ê°€í‰    20  2019-04-01
4            [ê²½ê¸° ê³ ì–‘ì‹œ]ì‹ì‚¬ë™    37  2019-04-01
...                  ...   ...         ...
2785  [ê²½ê¸° ì„±ë‚¨ì‹œ]ëŒ€ì™•íŒêµë¡œ(ë°±í˜„ë™)    33  2019-04-30
2786   [ê²½ê¸° ì„±ë‚¨ì‹œ]ì„±ë‚¨ëŒ€ë¡œ(ëª¨ë€ì—­)    41  2019-04-30
2787   [ê²½ê¸° ìˆ˜ì›ì‹œ]ê²½ìˆ˜ëŒ€ë¡œ(ë™ìˆ˜ì›)    44  2019-04-30
2788   [ê²½ê¸° ì•ˆì‚°ì‹œ]ì¤‘ì•™ëŒ€ë¡œ(ê³ ì”ë™)    36  2019-04-30
2789   [ê²½ê¸° ìš©ì¸ì‹œ]ì¤‘ë¶€ëŒ€ë¡œ(êµ¬ê°ˆë™)    42  2019-04-30

[2790 rows x 3 columns]

In [128]:
pm10_5 = pm10_5.drop(index=[0,1], axis=0)
pm10_5 = pm10_5.rename(columns=pm10_5.iloc[0])
pm10_5 = pm10_5.drop(index=[2])
pm10_5 = pm10_5.melt(id_vars='ì¸¡ì •ì†Œëª…', value_vars=['1ì¼', '2ì¼', '3ì¼', '4ì¼', '5ì¼', '6ì¼', '7ì¼', '8ì¼', '9ì¼', '10ì¼', '11ì¼', '12ì¼', '13ì¼', '14ì¼', '15ì¼', '16ì¼', '17ì¼', '18ì¼', '19ì¼', '20ì¼', '21ì¼', '22ì¼', '23ì¼', '24ì¼', '25ì¼', '26ì¼', '27ì¼', '28ì¼', '29ì¼', '30ì¼', '31ì¼'])
pm10_5['year'] = '2019'
pm10_5['month'] = '05'
pm10_5['variable'] = pm10_5['variable'].str.replace('ì¼','')
pm10_5 = pm10_5.rename(columns = {'variable':'days'})
pm10_5['days'] = pm10_5['days'].replace(['1','2','3','4','5','6','7','8','9'], ['01','02','03','04','05','06','07','08','09'])
pm10_5['date'] = pm10_5['year'] + "-" + pm10_5['month'] + "-" + pm10_5['days']
pm10_5 = pm10_5.drop(['days', 'year', 'month'], axis=1)
pm10_5

                    ì¸¡ì •ì†Œëª… value        date
0            [ê²½ê¸° ì´ì²œì‹œ]ì„¤ì„±ë©´    71  2019-05-01
1             [ê²½ê¸° íŒŒì£¼ì‹œ]íŒŒì£¼    90  2019-05-01
2            [ê²½ê¸° í¬ì²œì‹œ]ê´€ì¸ë©´    71  2019-05-01
3             [ê²½ê¸° ê°€í‰êµ°]ê°€í‰    52  2019-05-01
4            [ê²½ê¸° ê³ ì–‘ì‹œ]ì‹ì‚¬ë™    52  2019-05-01
...                  ...   ...         ...
2971  [ê²½ê¸° ì„±ë‚¨ì‹œ]ëŒ€ì™•íŒêµë¡œ(ë°±í˜„ë™)    24  2019-05-31
2972   [ê²½ê¸° ì„±ë‚¨ì‹œ]ì„±ë‚¨ëŒ€ë¡œ(ëª¨ë€ì—­)    24  2019-05-31
2973   [ê²½ê¸° ìˆ˜ì›ì‹œ]ê²½ìˆ˜ëŒ€ë¡œ(ë™ìˆ˜ì›)    25  2019-05-31
2974   [ê²½ê¸° ì•ˆì‚°ì‹œ]ì¤‘ì•™ëŒ€ë¡œ(ê³ ì”ë™)    26  2019-05-31
2975   [ê²½ê¸° ìš©ì¸ì‹œ]ì¤‘ë¶€ëŒ€ë¡œ(êµ¬ê°ˆë™)    24  2019-05-31

[2976 rows x 3 columns]

In [129]:
pm10_6 = pm10_6.drop(index=[0,1], axis=0)
pm10_6 = pm10_6.rename(columns=pm10_6.iloc[0])
pm10_6 = pm10_6.drop(index=[2])
pm10_6 = pm10_6.melt(id_vars='ì¸¡ì •ì†Œëª…', value_vars=['1ì¼', '2ì¼', '3ì¼', '4ì¼', '5ì¼', '6ì¼', '7ì¼', '8ì¼', '9ì¼', '10ì¼', '11ì¼', '12ì¼', '13ì¼', '14ì¼', '15ì¼', '16ì¼', '17ì¼', '18ì¼', '19ì¼', '20ì¼', '21ì¼', '22ì¼', '23ì¼', '24ì¼', '25ì¼', '26ì¼', '27ì¼', '28ì¼', '29ì¼', '30ì¼'])
pm10_6['year'] = '2019'
pm10_6['month'] = '06'
pm10_6['variable'] = pm10_6['variable'].str.replace('ì¼','')
pm10_6 = pm10_6.rename(columns = {'variable':'days'})
pm10_6['days'] = pm10_6['days'].replace(['1','2','3','4','5','6','7','8','9'], ['01','02','03','04','05','06','07','08','09'])
pm10_6['date'] = pm10_6['year'] + "-" + pm10_6['month'] + "-" + pm10_6['days']
pm10_6 = pm10_6.drop(['days', 'year', 'month'], axis=1)
pm10_6

                   ì¸¡ì •ì†Œëª… value        date
0           [ê²½ê¸° ì´ì²œì‹œ]ì„¤ì„±ë©´    40  2019-06-01
1            [ê²½ê¸° íŒŒì£¼ì‹œ]íŒŒì£¼    31  2019-06-01
2           [ê²½ê¸° í¬ì²œì‹œ]ê´€ì¸ë©´    36  2019-06-01
3            [ê²½ê¸° ê°€í‰êµ°]ê°€í‰    20  2019-06-01
4           [ê²½ê¸° ê³ ì–‘ì‹œ]ì‹ì‚¬ë™    31  2019-06-01
...                 ...   ...         ...
2905  [ê²½ê¸° ì„±ë‚¨ì‹œ]ì„±ë‚¨ëŒ€ë¡œ(ëª¨ë€ì—­)    39  2019-06-30
2906  [ê²½ê¸° ìˆ˜ì›ì‹œ]ê²½ìˆ˜ëŒ€ë¡œ(ë™ìˆ˜ì›)    50  2019-06-30
2907  [ê²½ê¸° ì•ˆì‚°ì‹œ]ì¤‘ì•™ëŒ€ë¡œ(ê³ ì”ë™)    32  2019-06-30
2908   [ê²½ê¸° ì˜¤ì‚°ì‹œ]ê¸ˆì•”ë¡œ(ì‹ ì¥ë™)    35  2019-06-30
2909  [ê²½ê¸° ìš©ì¸ì‹œ]ì¤‘ë¶€ëŒ€ë¡œ(êµ¬ê°ˆë™)    38  2019-06-30

[2910 rows x 3 columns]

In [130]:
pm10_7 = pm10_7.drop(index=[0,1], axis=0)
pm10_7 = pm10_7.rename(columns=pm10_7.iloc[0])
pm10_7 = pm10_7.drop(index=[2])
pm10_7 = pm10_7.melt(id_vars='ì¸¡ì •ì†Œëª…', value_vars=['1ì¼', '2ì¼', '3ì¼', '4ì¼', '5ì¼', '6ì¼', '7ì¼', '8ì¼', '9ì¼', '10ì¼', '11ì¼', '12ì¼', '13ì¼', '14ì¼', '15ì¼', '16ì¼', '17ì¼', '18ì¼', '19ì¼', '20ì¼', '21ì¼', '22ì¼', '23ì¼', '24ì¼', '25ì¼', '26ì¼', '27ì¼', '28ì¼', '29ì¼', '30ì¼', '31ì¼'])
pm10_7['year'] = '2019'
pm10_7['month'] = '07'
pm10_7['variable'] = pm10_7['variable'].str.replace('ì¼','')
pm10_7 = pm10_7.rename(columns = {'variable':'days'})
pm10_7['days'] = pm10_7['days'].replace(['1','2','3','4','5','6','7','8','9'], ['01','02','03','04','05','06','07','08','09'])
pm10_7['date'] = pm10_7['year'] + "-" + pm10_7['month'] + "-" + pm10_7['days']
pm10_7 = pm10_7.drop(['days', 'year', 'month'], axis=1)
pm10_7

                   ì¸¡ì •ì†Œëª… value        date
0           [ê²½ê¸° ì´ì²œì‹œ]ì„¤ì„±ë©´    50  2019-07-01
1            [ê²½ê¸° íŒŒì£¼ì‹œ]íŒŒì£¼    36  2019-07-01
2           [ê²½ê¸° í¬ì²œì‹œ]ê´€ì¸ë©´    40  2019-07-01
3            [ê²½ê¸° ê°€í‰êµ°]ê°€í‰    37  2019-07-01
4           [ê²½ê¸° ê³ ì–‘ì‹œ]ì‹ì‚¬ë™    29  2019-07-01
...                 ...   ...         ...
3002  [ê²½ê¸° ì„±ë‚¨ì‹œ]ì„±ë‚¨ëŒ€ë¡œ(ëª¨ë€ì—­)    25  2019-07-31
3003  [ê²½ê¸° ìˆ˜ì›ì‹œ]ê²½ìˆ˜ëŒ€ë¡œ(ë™ìˆ˜ì›)    27  2019-07-31
3004  [ê²½ê¸° ì•ˆì‚°ì‹œ]ì¤‘ì•™ëŒ€ë¡œ(ê³ ì”ë™)    21  2019-07-31
3005   [ê²½ê¸° ì˜¤ì‚°ì‹œ]ê¸ˆì•”ë¡œ(ì‹ ì¥ë™)    23  2019-07-31
3006  [ê²½ê¸° ìš©ì¸ì‹œ]ì¤‘ë¶€ëŒ€ë¡œ(êµ¬ê°ˆë™)    23  2019-07-31

[3007 rows x 3 columns]

In [131]:
pm10_8 = pm10_8.drop(index=[0,1], axis=0)
pm10_8 = pm10_8.rename(columns=pm10_8.iloc[0])
pm10_8 = pm10_8.drop(index=[2])
pm10_8 = pm10_8.melt(id_vars='ì¸¡ì •ì†Œëª…', value_vars=['1ì¼', '2ì¼', '3ì¼', '4ì¼', '5ì¼', '6ì¼', '7ì¼', '8ì¼', '9ì¼', '10ì¼', '11ì¼', '12ì¼', '13ì¼', '14ì¼', '15ì¼', '16ì¼', '17ì¼', '18ì¼', '19ì¼', '20ì¼', '21ì¼', '22ì¼', '23ì¼', '24ì¼', '25ì¼', '26ì¼', '27ì¼', '28ì¼', '29ì¼', '30ì¼', '31ì¼'])
pm10_8['year'] = '2019'
pm10_8['month'] = '08'
pm10_8['variable'] = pm10_8['variable'].str.replace('ì¼','')
pm10_8 = pm10_8.rename(columns = {'variable':'days'})
pm10_8['days'] = pm10_8['days'].replace(['1','2','3','4','5','6','7','8','9'], ['01','02','03','04','05','06','07','08','09'])
pm10_8['date'] = pm10_8['year'] + "-" + pm10_8['month'] + "-" + pm10_8['days']
pm10_8 = pm10_8.drop(['days', 'year', 'month'], axis=1)
pm10_8

                   ì¸¡ì •ì†Œëª… value        date
0           [ê²½ê¸° ì´ì²œì‹œ]ì„¤ì„±ë©´    17  2019-08-01
1            [ê²½ê¸° íŒŒì£¼ì‹œ]íŒŒì£¼    14  2019-08-01
2           [ê²½ê¸° í¬ì²œì‹œ]ê´€ì¸ë©´    24  2019-08-01
3            [ê²½ê¸° ê°€í‰êµ°]ê°€í‰     8  2019-08-01
4           [ê²½ê¸° ê³ ì–‘ì‹œ]ì‹ì‚¬ë™    20  2019-08-01
...                 ...   ...         ...
3002  [ê²½ê¸° ì„±ë‚¨ì‹œ]ì„±ë‚¨ëŒ€ë¡œ(ëª¨ë€ì—­)    25  2019-08-31
3003  [ê²½ê¸° ìˆ˜ì›ì‹œ]ê²½ìˆ˜ëŒ€ë¡œ(ë™ìˆ˜ì›)    24  2019-08-31
3004  [ê²½ê¸° ì•ˆì‚°ì‹œ]ì¤‘ì•™ëŒ€ë¡œ(ê³ ì”ë™)    18  2019-08-31
3005   [ê²½ê¸° ì˜¤ì‚°ì‹œ]ê¸ˆì•”ë¡œ(ì‹ ì¥ë™)    22  2019-08-31
3006  [ê²½ê¸° ìš©ì¸ì‹œ]ì¤‘ë¶€ëŒ€ë¡œ(êµ¬ê°ˆë™)    23  2019-08-31

[3007 rows x 3 columns]

In [132]:
pm10_9 = pm10_9.drop(index=[0,1], axis=0)
pm10_9 = pm10_9.rename(columns=pm10_9.iloc[0])
pm10_9 = pm10_9.drop(index=[2])
pm10_9 = pm10_9.melt(id_vars='ì¸¡ì •ì†Œëª…', value_vars=['1ì¼', '2ì¼', '3ì¼', '4ì¼', '5ì¼', '6ì¼', '7ì¼', '8ì¼', '9ì¼', '10ì¼', '11ì¼', '12ì¼', '13ì¼', '14ì¼', '15ì¼', '16ì¼', '17ì¼', '18ì¼', '19ì¼', '20ì¼', '21ì¼', '22ì¼', '23ì¼', '24ì¼', '25ì¼', '26ì¼', '27ì¼', '28ì¼', '29ì¼', '30ì¼'])
pm10_9['year'] = '2019'
pm10_9['month'] = '09'
pm10_9['variable'] = pm10_9['variable'].str.replace('ì¼','')
pm10_9 = pm10_9.rename(columns = {'variable':'days'})
pm10_9['days'] = pm10_9['days'].replace(['1','2','3','4','5','6','7','8','9'], ['01','02','03','04','05','06','07','08','09'])
pm10_9['date'] = pm10_9['year'] + "-" + pm10_9['month'] + "-" + pm10_9['days']
pm10_9 = pm10_9.drop(['days', 'year', 'month'], axis=1)
pm10_9

                   ì¸¡ì •ì†Œëª… value        date
0           [ê²½ê¸° ì´ì²œì‹œ]ì„¤ì„±ë©´    34  2019-09-01
1            [ê²½ê¸° íŒŒì£¼ì‹œ]íŒŒì£¼    18  2019-09-01
2           [ê²½ê¸° í¬ì²œì‹œ]ê´€ì¸ë©´    21  2019-09-01
3            [ê²½ê¸° ê°€í‰êµ°]ê°€í‰    16  2019-09-01
4           [ê²½ê¸° ê³ ì–‘ì‹œ]ì‹ì‚¬ë™    24  2019-09-01
...                 ...   ...         ...
2905  [ê²½ê¸° ì„±ë‚¨ì‹œ]ì„±ë‚¨ëŒ€ë¡œ(ëª¨ë€ì—­)    66  2019-09-30
2906  [ê²½ê¸° ìˆ˜ì›ì‹œ]ê²½ìˆ˜ëŒ€ë¡œ(ë™ìˆ˜ì›)    73  2019-09-30
2907  [ê²½ê¸° ì•ˆì‚°ì‹œ]ì¤‘ì•™ëŒ€ë¡œ(ê³ ì”ë™)    56  2019-09-30
2908   [ê²½ê¸° ì˜¤ì‚°ì‹œ]ê¸ˆì•”ë¡œ(ì‹ ì¥ë™)    64  2019-09-30
2909  [ê²½ê¸° ìš©ì¸ì‹œ]ì¤‘ë¶€ëŒ€ë¡œ(êµ¬ê°ˆë™)    61  2019-09-30

[2910 rows x 3 columns]

In [133]:
pm10_10 = pm10_10.drop(index=[0,1], axis=0)
pm10_10 = pm10_10.rename(columns=pm10_10.iloc[0])
pm10_10 = pm10_10.drop(index=[2])
pm10_10 = pm10_10.melt(id_vars='ì¸¡ì •ì†Œëª…', value_vars=['1ì¼', '2ì¼', '3ì¼', '4ì¼', '5ì¼', '6ì¼', '7ì¼', '8ì¼', '9ì¼', '10ì¼', '11ì¼', '12ì¼', '13ì¼', '14ì¼', '15ì¼', '16ì¼', '17ì¼', '18ì¼', '19ì¼', '20ì¼', '21ì¼', '22ì¼', '23ì¼', '24ì¼', '25ì¼', '26ì¼', '27ì¼', '28ì¼', '29ì¼', '30ì¼', '31ì¼'])
pm10_10['year'] = '2019'
pm10_10['month'] = '10'
pm10_10['variable'] = pm10_10['variable'].str.replace('ì¼','')
pm10_10 = pm10_10.rename(columns = {'variable':'days'})
pm10_10['days'] = pm10_10['days'].replace(['1','2','3','4','5','6','7','8','9'], ['01','02','03','04','05','06','07','08','09'])
pm10_10['date'] = pm10_10['year'] + "-" + pm10_10['month'] + "-" + pm10_10['days']
pm10_10 = pm10_10.drop(['days', 'year', 'month'], axis=1)
pm10_10

                   ì¸¡ì •ì†Œëª… value        date
0           [ê²½ê¸° ì´ì²œì‹œ]ì„¤ì„±ë©´    66  2019-10-01
1            [ê²½ê¸° íŒŒì£¼ì‹œ]íŒŒì£¼    50  2019-10-01
2           [ê²½ê¸° í¬ì²œì‹œ]ê´€ì¸ë©´    33  2019-10-01
3            [ê²½ê¸° ê°€í‰êµ°]ê°€í‰    25  2019-10-01
4           [ê²½ê¸° ê³ ì–‘ì‹œ]ì‹ì‚¬ë™    51  2019-10-01
...                 ...   ...         ...
3002  [ê²½ê¸° ì„±ë‚¨ì‹œ]ì„±ë‚¨ëŒ€ë¡œ(ëª¨ë€ì—­)    90  2019-10-31
3003  [ê²½ê¸° ìˆ˜ì›ì‹œ]ê²½ìˆ˜ëŒ€ë¡œ(ë™ìˆ˜ì›)    94  2019-10-31
3004  [ê²½ê¸° ì•ˆì‚°ì‹œ]ì¤‘ì•™ëŒ€ë¡œ(ê³ ì”ë™)    78  2019-10-31
3005   [ê²½ê¸° ì˜¤ì‚°ì‹œ]ê¸ˆì•”ë¡œ(ì‹ ì¥ë™)    61  2019-10-31
3006  [ê²½ê¸° ìš©ì¸ì‹œ]ì¤‘ë¶€ëŒ€ë¡œ(êµ¬ê°ˆë™)    80  2019-10-31

[3007 rows x 3 columns]

In [134]:
pm10_11 = pm10_11.drop(index=[0,1], axis=0)
pm10_11 = pm10_11.rename(columns=pm10_11.iloc[0])
pm10_11 = pm10_11.drop(index=[2])
pm10_11 = pm10_11.melt(id_vars='ì¸¡ì •ì†Œëª…', value_vars=['1ì¼', '2ì¼', '3ì¼', '4ì¼', '5ì¼', '6ì¼', '7ì¼', '8ì¼', '9ì¼', '10ì¼', '11ì¼', '12ì¼', '13ì¼', '14ì¼', '15ì¼', '16ì¼', '17ì¼', '18ì¼', '19ì¼', '20ì¼', '21ì¼', '22ì¼', '23ì¼', '24ì¼', '25ì¼', '26ì¼', '27ì¼', '28ì¼', '29ì¼', '30ì¼'])
pm10_11['year'] = '2019'
pm10_11['month'] = '11'
pm10_11['variable'] = pm10_11['variable'].str.replace('ì¼','')
pm10_11 = pm10_11.rename(columns = {'variable':'days'})
pm10_11['days'] = pm10_11['days'].replace(['1','2','3','4','5','6','7','8','9'], ['01','02','03','04','05','06','07','08','09'])
pm10_11['date'] = pm10_11['year'] + "-" + pm10_11['month'] + "-" + pm10_11['days']
pm10_11 = pm10_11.drop(['days', 'year', 'month'], axis=1)
pm10_11

                   ì¸¡ì •ì†Œëª… value        date
0           [ê²½ê¸° ì´ì²œì‹œ]ì„¤ì„±ë©´    94  2019-11-01
1            [ê²½ê¸° íŒŒì£¼ì‹œ]íŒŒì£¼    42  2019-11-01
2           [ê²½ê¸° í¬ì²œì‹œ]ê´€ì¸ë©´   113  2019-11-01
3            [ê²½ê¸° ê°€í‰êµ°]ê°€í‰    83  2019-11-01
4           [ê²½ê¸° ê³ ì–‘ì‹œ]ì‹ì‚¬ë™    78  2019-11-01
...                 ...   ...         ...
2905  [ê²½ê¸° ì„±ë‚¨ì‹œ]ì„±ë‚¨ëŒ€ë¡œ(ëª¨ë€ì—­)    55  2019-11-30
2906  [ê²½ê¸° ìˆ˜ì›ì‹œ]ê²½ìˆ˜ëŒ€ë¡œ(ë™ìˆ˜ì›)    58  2019-11-30
2907  [ê²½ê¸° ì•ˆì‚°ì‹œ]ì¤‘ì•™ëŒ€ë¡œ(ê³ ì”ë™)    47  2019-11-30
2908   [ê²½ê¸° ì˜¤ì‚°ì‹œ]ê¸ˆì•”ë¡œ(ì‹ ì¥ë™)    48  2019-11-30
2909  [ê²½ê¸° ìš©ì¸ì‹œ]ì¤‘ë¶€ëŒ€ë¡œ(êµ¬ê°ˆë™)    52  2019-11-30

[2910 rows x 3 columns]

In [136]:
pm10 = pd.concat([pm10_12,pm10_1,pm10_2,pm10_3,pm10_4,pm10_5,pm10_6,pm10_7,pm10_8,pm10_9,pm10_10,pm10_11], axis=0)
pm10

                   ì¸¡ì •ì†Œëª… value        date
0           [ê²½ê¸° ì´ì²œì‹œ]ì„¤ì„±ë©´    70  2018-12-01
1            [ê²½ê¸° íŒŒì£¼ì‹œ]íŒŒì£¼   NaN  2018-12-01
2           [ê²½ê¸° í¬ì²œì‹œ]ê´€ì¸ë©´    38  2018-12-01
3            [ê²½ê¸° ê°€í‰êµ°]ê°€í‰    38  2018-12-01
4           [ê²½ê¸° ê³ ì–‘ì‹œ]ì‹ì‚¬ë™    44  2018-12-01
...                 ...   ...         ...
2905  [ê²½ê¸° ì„±ë‚¨ì‹œ]ì„±ë‚¨ëŒ€ë¡œ(ëª¨ë€ì—­)    55  2019-11-30
2906  [ê²½ê¸° ìˆ˜ì›ì‹œ]ê²½ìˆ˜ëŒ€ë¡œ(ë™ìˆ˜ì›)    58  2019-11-30
2907  [ê²½ê¸° ì•ˆì‚°ì‹œ]ì¤‘ì•™ëŒ€ë¡œ(ê³ ì”ë™)    47  2019-11-30
2908   [ê²½ê¸° ì˜¤ì‚°ì‹œ]ê¸ˆì•”ë¡œ(ì‹ ì¥ë™)    48  2019-11-30
2909  [ê²½ê¸° ìš©ì¸ì‹œ]ì¤‘ë¶€ëŒ€ë¡œ(êµ¬ê°ˆë™)    52  2019-11-30

[34556 rows x 3 columns]

In [140]:
pm25_12 = pd.read_excel('/content/gdrive/MyDrive/Data Analysis/Aiffel/HAC/03/data/pm_data/pm2.5_2018 (12).xls')
pm25_1 = pd.read_excel('/content/gdrive/MyDrive/Data Analysis/Aiffel/HAC/03/data/pm_data/pm2.5_2019 (1).xls')
pm25_2 = pd.read_excel('/content/gdrive/MyDrive/Data Analysis/Aiffel/HAC/03/data/pm_data/pm2.5_2019 (2).xls')
pm25_3 = pd.read_excel('/content/gdrive/MyDrive/Data Analysis/Aiffel/HAC/03/data/pm_data/pm2.5_2019 (3).xls')
pm25_4 = pd.read_excel('/content/gdrive/MyDrive/Data Analysis/Aiffel/HAC/03/data/pm_data/pm2.5_2019 (4).xls')
pm25_5 = pd.read_excel('/content/gdrive/MyDrive/Data Analysis/Aiffel/HAC/03/data/pm_data/pm2.5_2019 (5).xls')
pm25_6 = pd.read_excel('/content/gdrive/MyDrive/Data Analysis/Aiffel/HAC/03/data/pm_data/pm2.5_2019 (6).xls')
pm25_7 = pd.read_excel('/content/gdrive/MyDrive/Data Analysis/Aiffel/HAC/03/data/pm_data/pm2.5_2019 (7).xls')
pm25_8 = pd.read_excel('/content/gdrive/MyDrive/Data Analysis/Aiffel/HAC/03/data/pm_data/pm2.5_2019 (8).xls')
pm25_9 = pd.read_excel('/content/gdrive/MyDrive/Data Analysis/Aiffel/HAC/03/data/pm_data/pm2.5_2019 (9).xls')
pm25_10 = pd.read_excel('/content/gdrive/MyDrive/Data Analysis/Aiffel/HAC/03/data/pm_data/pm2.5_2019 (10).xls')
pm25_11 = pd.read_excel('/content/gdrive/MyDrive/Data Analysis/Aiffel/HAC/03/data/pm_data/pm2.5_2019 (11).xls')

In [141]:
pm25_12 = pm25_12.drop(index=[0,1], axis=0)
pm25_12 = pm25_12.rename(columns=pm25_12.iloc[0])
pm25_12 = pm25_12.drop(index=[2])
pm25_12 = pm25_12.melt(id_vars='ì¸¡ì •ì†Œëª…', value_vars=['1ì¼', '2ì¼', '3ì¼', '4ì¼', '5ì¼', '6ì¼', '7ì¼', '8ì¼', '9ì¼', '10ì¼', '11ì¼', '12ì¼', '13ì¼', '14ì¼', '15ì¼', '16ì¼', '17ì¼', '18ì¼', '19ì¼', '20ì¼', '21ì¼', '22ì¼', '23ì¼', '24ì¼', '25ì¼', '26ì¼', '27ì¼', '28ì¼', '29ì¼', '30ì¼', '31ì¼'])
pm25_12['year'] = '2018'
pm25_12['month'] = '12'
pm25_12['variable'] = pm25_12['variable'].str.replace('ì¼','')
pm25_12 = pm25_12.rename(columns = {'variable':'days'})
pm25_12['days'] = pm25_12['days'].replace(['1','2','3','4','5','6','7','8','9'], ['01','02','03','04','05','06','07','08','09'])
pm25_12['date'] = pm25_12['year'] + "-" + pm25_12['month'] + "-" + pm25_12['days']
pm25_12 = pm25_12.drop(['days', 'year', 'month'], axis=1)
pm25_12

                   ì¸¡ì •ì†Œëª… value        date
0           [ê²½ê¸° ì´ì²œì‹œ]ì„¤ì„±ë©´   NaN  2018-12-01
1            [ê²½ê¸° íŒŒì£¼ì‹œ]íŒŒì£¼   NaN  2018-12-01
2           [ê²½ê¸° í¬ì²œì‹œ]ê´€ì¸ë©´   NaN  2018-12-01
3            [ê²½ê¸° ê°€í‰êµ°]ê°€í‰    23  2018-12-01
4           [ê²½ê¸° ê³ ì–‘ì‹œ]ì‹ì‚¬ë™    21  2018-12-01
...                 ...   ...         ...
2878  [ê²½ê¸° ì•ˆì‚°ì‹œ]ì¤‘ì•™ëŒ€ë¡œ(ê³ ì”ë™)    37  2018-12-31
2879  [ê²½ê¸° ìš©ì¸ì‹œ]ì¤‘ë¶€ëŒ€ë¡œ(êµ¬ê°ˆë™)    28  2018-12-31
2880       [ê²½ê¸° ë¶€ì²œì‹œ]ì†Œì‚¬ë³¸ë™    30  2018-12-31
2881        [ê²½ê¸° ì–‘í‰êµ°]ê°•í•˜ë©´    29  2018-12-31
2882        [ê²½ê¸° í¬ì²œì‹œ]ê´€ì¸ë©´    21  2018-12-31

[2883 rows x 3 columns]

In [142]:
pm25_1 = pm25_1.drop(index=[0,1], axis=0)
pm25_1 = pm25_1.rename(columns=pm25_1.iloc[0])
pm25_1 = pm25_1.drop(index=[2])
pm25_1 = pm25_1.melt(id_vars='ì¸¡ì •ì†Œëª…', value_vars=['1ì¼', '2ì¼', '3ì¼', '4ì¼', '5ì¼', '6ì¼', '7ì¼', '8ì¼', '9ì¼', '10ì¼', '11ì¼', '12ì¼', '13ì¼', '14ì¼', '15ì¼', '16ì¼', '17ì¼', '18ì¼', '19ì¼', '20ì¼', '21ì¼', '22ì¼', '23ì¼', '24ì¼', '25ì¼', '26ì¼', '27ì¼', '28ì¼', '29ì¼', '30ì¼', '31ì¼'])
pm25_1['year'] = '2019'
pm25_1['month'] = '01'
pm25_1['variable'] = pm25_1['variable'].str.replace('ì¼','')
pm25_1 = pm25_1.rename(columns = {'variable':'days'})
pm25_1['days'] = pm25_1['days'].replace(['1','2','3','4','5','6','7','8','9'], ['01','02','03','04','05','06','07','08','09'])
pm25_1['date'] = pm25_1['year'] + "-" + pm25_1['month'] + "-" + pm25_1['days']
pm25_1 = pm25_1.drop(['days', 'year', 'month'], axis=1)
pm25_1

                   ì¸¡ì •ì†Œëª… value        date
0           [ê²½ê¸° ì´ì²œì‹œ]ì„¤ì„±ë©´    38  2019-01-01
1            [ê²½ê¸° íŒŒì£¼ì‹œ]íŒŒì£¼    30  2019-01-01
2           [ê²½ê¸° í¬ì²œì‹œ]ê´€ì¸ë©´    24  2019-01-01
3            [ê²½ê¸° ê°€í‰êµ°]ê°€í‰    25  2019-01-01
4           [ê²½ê¸° ê³ ì–‘ì‹œ]ì‹ì‚¬ë™    22  2019-01-01
...                 ...   ...         ...
2878  [ê²½ê¸° ìˆ˜ì›ì‹œ]ê²½ìˆ˜ëŒ€ë¡œ(ë™ìˆ˜ì›)    26  2019-01-31
2879  [ê²½ê¸° ì•ˆì‚°ì‹œ]ì¤‘ì•™ëŒ€ë¡œ(ê³ ì”ë™)    25  2019-01-31
2880  [ê²½ê¸° ìš©ì¸ì‹œ]ì¤‘ë¶€ëŒ€ë¡œ(êµ¬ê°ˆë™)    23  2019-01-31
2881       [ê²½ê¸° ë¶€ì²œì‹œ]ì†Œì‚¬ë³¸ë™    18  2019-01-31
2882        [ê²½ê¸° í¬ì²œì‹œ]ê´€ì¸ë©´    20  2019-01-31

[2883 rows x 3 columns]

In [143]:
pm25_2 = pm25_2.drop(index=[0,1], axis=0)
pm25_2 = pm25_2.rename(columns=pm25_2.iloc[0])
pm25_2 = pm25_2.drop(index=[2])
pm25_2 = pm25_2.melt(id_vars='ì¸¡ì •ì†Œëª…', value_vars=['1ì¼', '2ì¼', '3ì¼', '4ì¼', '5ì¼', '6ì¼', '7ì¼', '8ì¼', '9ì¼', '10ì¼', '11ì¼', '12ì¼', '13ì¼', '14ì¼', '15ì¼', '16ì¼', '17ì¼', '18ì¼', '19ì¼', '20ì¼', '21ì¼', '22ì¼', '23ì¼', '24ì¼', '25ì¼', '26ì¼', '27ì¼', '28ì¼'])
pm25_2['year'] = '2019'
pm25_2['month'] = '02'
pm25_2['variable'] = pm25_2['variable'].str.replace('ì¼','')
pm25_2 = pm25_2.rename(columns = {'variable':'days'})
pm25_2['days'] = pm25_2['days'].replace(['1','2','3','4','5','6','7','8','9'], ['01','02','03','04','05','06','07','08','09'])
pm25_2['date'] = pm25_2['year'] + "-" + pm25_2['month'] + "-" + pm25_2['days']
pm25_2 = pm25_2.drop(['days', 'year', 'month'], axis=1)
pm25_2

                   ì¸¡ì •ì†Œëª… value        date
0           [ê²½ê¸° ì´ì²œì‹œ]ì„¤ì„±ë©´    23  2019-02-01
1            [ê²½ê¸° íŒŒì£¼ì‹œ]íŒŒì£¼    18  2019-02-01
2           [ê²½ê¸° í¬ì²œì‹œ]ê´€ì¸ë©´    16  2019-02-01
3            [ê²½ê¸° ê°€í‰êµ°]ê°€í‰    16  2019-02-01
4           [ê²½ê¸° ê³ ì–‘ì‹œ]ì‹ì‚¬ë™    10  2019-02-01
...                 ...   ...         ...
2627  [ê²½ê¸° ìˆ˜ì›ì‹œ]ê²½ìˆ˜ëŒ€ë¡œ(ë™ìˆ˜ì›)    75  2019-02-28
2628  [ê²½ê¸° ì•ˆì‚°ì‹œ]ì¤‘ì•™ëŒ€ë¡œ(ê³ ì”ë™)    66  2019-02-28
2629  [ê²½ê¸° ìš©ì¸ì‹œ]ì¤‘ë¶€ëŒ€ë¡œ(êµ¬ê°ˆë™)    65  2019-02-28
2630       [ê²½ê¸° ë¶€ì²œì‹œ]ì†Œì‚¬ë³¸ë™    59  2019-02-28
2631        [ê²½ê¸° í¬ì²œì‹œ]ê´€ì¸ë©´    42  2019-02-28

[2632 rows x 3 columns]

In [144]:
pm25_3 = pm25_3.drop(index=[0,1], axis=0)
pm25_3 = pm25_3.rename(columns=pm25_3.iloc[0])
pm25_3 = pm25_3.drop(index=[2])
pm25_3 = pm25_3.melt(id_vars='ì¸¡ì •ì†Œëª…', value_vars=['1ì¼', '2ì¼', '3ì¼', '4ì¼', '5ì¼', '6ì¼', '7ì¼', '8ì¼', '9ì¼', '10ì¼', '11ì¼', '12ì¼', '13ì¼', '14ì¼', '15ì¼', '16ì¼', '17ì¼', '18ì¼', '19ì¼', '20ì¼', '21ì¼', '22ì¼', '23ì¼', '24ì¼', '25ì¼', '26ì¼', '27ì¼', '28ì¼', '29ì¼', '30ì¼', '31ì¼'])
pm25_3['year'] = '2019'
pm25_3['month'] = '03'
pm25_3['variable'] = pm25_3['variable'].str.replace('ì¼','')
pm25_3 = pm25_3.rename(columns = {'variable':'days'})
pm25_3['days'] = pm25_3['days'].replace(['1','2','3','4','5','6','7','8','9'], ['01','02','03','04','05','06','07','08','09'])
pm25_3['date'] = pm25_3['year'] + "-" + pm25_3['month'] + "-" + pm25_3['days']
pm25_3 = pm25_3.drop(['days', 'year', 'month'], axis=1)
pm25_3

                   ì¸¡ì •ì†Œëª… value        date
0           [ê²½ê¸° ì´ì²œì‹œ]ì„¤ì„±ë©´   NaN  2019-03-01
1            [ê²½ê¸° íŒŒì£¼ì‹œ]íŒŒì£¼    78  2019-03-01
2           [ê²½ê¸° í¬ì²œì‹œ]ê´€ì¸ë©´    42  2019-03-01
3            [ê²½ê¸° ê°€í‰êµ°]ê°€í‰    60  2019-03-01
4           [ê²½ê¸° ê³ ì–‘ì‹œ]ì‹ì‚¬ë™    75  2019-03-01
...                 ...   ...         ...
2909  [ê²½ê¸° ìˆ˜ì›ì‹œ]ê²½ìˆ˜ëŒ€ë¡œ(ë™ìˆ˜ì›)    24  2019-03-31
2910  [ê²½ê¸° ì•ˆì‚°ì‹œ]ì¤‘ì•™ëŒ€ë¡œ(ê³ ì”ë™)    22  2019-03-31
2911  [ê²½ê¸° ìš©ì¸ì‹œ]ì¤‘ë¶€ëŒ€ë¡œ(êµ¬ê°ˆë™)    25  2019-03-31
2912       [ê²½ê¸° ë¶€ì²œì‹œ]ì†Œì‚¬ë³¸ë™    26  2019-03-31
2913        [ê²½ê¸° í¬ì²œì‹œ]ê´€ì¸ë©´    24  2019-03-31

[2914 rows x 3 columns]

In [145]:
pm25_4 = pm25_4.drop(index=[0,1], axis=0)
pm25_4 = pm25_4.rename(columns=pm25_4.iloc[0])
pm25_4 = pm25_4.drop(index=[2])
pm25_4 = pm25_4.melt(id_vars='ì¸¡ì •ì†Œëª…', value_vars=['1ì¼', '2ì¼', '3ì¼', '4ì¼', '5ì¼', '6ì¼', '7ì¼', '8ì¼', '9ì¼', '10ì¼', '11ì¼', '12ì¼', '13ì¼', '14ì¼', '15ì¼', '16ì¼', '17ì¼', '18ì¼', '19ì¼', '20ì¼', '21ì¼', '22ì¼', '23ì¼', '24ì¼', '25ì¼', '26ì¼', '27ì¼', '28ì¼', '29ì¼', '30ì¼'])
pm25_4['year'] = '2019'
pm25_4['month'] = '04'
pm25_4['variable'] = pm25_4['variable'].str.replace('ì¼','')
pm25_4 = pm25_4.rename(columns = {'variable':'days'})
pm25_4['days'] = pm25_4['days'].replace(['1','2','3','4','5','6','7','8','9'], ['01','02','03','04','05','06','07','08','09'])
pm25_4['date'] = pm25_4['year'] + "-" + pm25_4['month'] + "-" + pm25_4['days']
pm25_4 = pm25_4.drop(['days', 'year', 'month'], axis=1)
pm25_4

                   ì¸¡ì •ì†Œëª… value        date
0           [ê²½ê¸° ì´ì²œì‹œ]ì„¤ì„±ë©´    19  2019-04-01
1            [ê²½ê¸° íŒŒì£¼ì‹œ]íŒŒì£¼    13  2019-04-01
2           [ê²½ê¸° í¬ì²œì‹œ]ê´€ì¸ë©´    14  2019-04-01
3            [ê²½ê¸° ê°€í‰êµ°]ê°€í‰    13  2019-04-01
4           [ê²½ê¸° ê³ ì–‘ì‹œ]ì‹ì‚¬ë™     5  2019-04-01
...                 ...   ...         ...
2845  [ê²½ê¸° ìˆ˜ì›ì‹œ]ê²½ìˆ˜ëŒ€ë¡œ(ë™ìˆ˜ì›)    23  2019-04-30
2846  [ê²½ê¸° ì•ˆì‚°ì‹œ]ì¤‘ì•™ëŒ€ë¡œ(ê³ ì”ë™)    20  2019-04-30
2847  [ê²½ê¸° ìš©ì¸ì‹œ]ì¤‘ë¶€ëŒ€ë¡œ(êµ¬ê°ˆë™)    18  2019-04-30
2848       [ê²½ê¸° ë¶€ì²œì‹œ]ì†Œì‚¬ë³¸ë™    33  2019-04-30
2849        [ê²½ê¸° í¬ì²œì‹œ]ê´€ì¸ë©´    18  2019-04-30

[2850 rows x 3 columns]

In [146]:
pm25_5 = pm25_5.drop(index=[0,1], axis=0)
pm25_5 = pm25_5.rename(columns=pm25_5.iloc[0])
pm25_5 = pm25_5.drop(index=[2])
pm25_5 = pm25_5.melt(id_vars='ì¸¡ì •ì†Œëª…', value_vars=['1ì¼', '2ì¼', '3ì¼', '4ì¼', '5ì¼', '6ì¼', '7ì¼', '8ì¼', '9ì¼', '10ì¼', '11ì¼', '12ì¼', '13ì¼', '14ì¼', '15ì¼', '16ì¼', '17ì¼', '18ì¼', '19ì¼', '20ì¼', '21ì¼', '22ì¼', '23ì¼', '24ì¼', '25ì¼', '26ì¼', '27ì¼', '28ì¼', '29ì¼', '30ì¼', '31ì¼'])
pm25_5['year'] = '2019'
pm25_5['month'] = '05'
pm25_5['variable'] = pm25_5['variable'].str.replace('ì¼','')
pm25_5 = pm25_5.rename(columns = {'variable':'days'})
pm25_5['days'] = pm25_5['days'].replace(['1','2','3','4','5','6','7','8','9'], ['01','02','03','04','05','06','07','08','09'])
pm25_5['date'] = pm25_5['year'] + "-" + pm25_5['month'] + "-" + pm25_5['days']
pm25_5 = pm25_5.drop(['days', 'year', 'month'], axis=1)
pm25_5

                   ì¸¡ì •ì†Œëª… value        date
0           [ê²½ê¸° ì´ì²œì‹œ]ì„¤ì„±ë©´    34  2019-05-01
1            [ê²½ê¸° íŒŒì£¼ì‹œ]íŒŒì£¼    21  2019-05-01
2           [ê²½ê¸° í¬ì²œì‹œ]ê´€ì¸ë©´    22  2019-05-01
3            [ê²½ê¸° ê°€í‰êµ°]ê°€í‰    22  2019-05-01
4           [ê²½ê¸° ê³ ì–‘ì‹œ]ì‹ì‚¬ë™    18  2019-05-01
...                 ...   ...         ...
3033  [ê²½ê¸° ìˆ˜ì›ì‹œ]ê²½ìˆ˜ëŒ€ë¡œ(ë™ìˆ˜ì›)    11  2019-05-31
3034  [ê²½ê¸° ì•ˆì‚°ì‹œ]ì¤‘ì•™ëŒ€ë¡œ(ê³ ì”ë™)     9  2019-05-31
3035  [ê²½ê¸° ìš©ì¸ì‹œ]ì¤‘ë¶€ëŒ€ë¡œ(êµ¬ê°ˆë™)    11  2019-05-31
3036       [ê²½ê¸° ë¶€ì²œì‹œ]ì†Œì‚¬ë³¸ë™    16  2019-05-31
3037        [ê²½ê¸° í¬ì²œì‹œ]ê´€ì¸ë©´    15  2019-05-31

[3038 rows x 3 columns]

In [147]:
pm25_6 = pm25_6.drop(index=[0,1], axis=0)
pm25_6 = pm25_6.rename(columns=pm25_6.iloc[0])
pm25_6 = pm25_6.drop(index=[2])
pm25_6 = pm25_6.melt(id_vars='ì¸¡ì •ì†Œëª…', value_vars=['1ì¼', '2ì¼', '3ì¼', '4ì¼', '5ì¼', '6ì¼', '7ì¼', '8ì¼', '9ì¼', '10ì¼', '11ì¼', '12ì¼', '13ì¼', '14ì¼', '15ì¼', '16ì¼', '17ì¼', '18ì¼', '19ì¼', '20ì¼', '21ì¼', '22ì¼', '23ì¼', '24ì¼', '25ì¼', '26ì¼', '27ì¼', '28ì¼', '29ì¼', '30ì¼'])
pm25_6['year'] = '2019'
pm25_6['month'] = '06'
pm25_6['variable'] = pm25_6['variable'].str.replace('ì¼','')
pm25_6 = pm25_6.rename(columns = {'variable':'days'})
pm25_6['days'] = pm25_6['days'].replace(['1','2','3','4','5','6','7','8','9'], ['01','02','03','04','05','06','07','08','09'])
pm25_6['date'] = pm25_6['year'] + "-" + pm25_6['month'] + "-" + pm25_6['days']
pm25_6 = pm25_6.drop(['days', 'year', 'month'], axis=1)
pm25_6

                   ì¸¡ì •ì†Œëª… value        date
0           [ê²½ê¸° ì´ì²œì‹œ]ì„¤ì„±ë©´    26  2019-06-01
1            [ê²½ê¸° íŒŒì£¼ì‹œ]íŒŒì£¼    18  2019-06-01
2           [ê²½ê¸° í¬ì²œì‹œ]ê´€ì¸ë©´    21  2019-06-01
3            [ê²½ê¸° ê°€í‰êµ°]ê°€í‰    14  2019-06-01
4           [ê²½ê¸° ê³ ì–‘ì‹œ]ì‹ì‚¬ë™    17  2019-06-01
...                 ...   ...         ...
2965  [ê²½ê¸° ì•ˆì‚°ì‹œ]ì¤‘ì•™ëŒ€ë¡œ(ê³ ì”ë™)    15  2019-06-30
2966   [ê²½ê¸° ì˜¤ì‚°ì‹œ]ê¸ˆì•”ë¡œ(ì‹ ì¥ë™)    28  2019-06-30
2967  [ê²½ê¸° ìš©ì¸ì‹œ]ì¤‘ë¶€ëŒ€ë¡œ(êµ¬ê°ˆë™)    27  2019-06-30
2968       [ê²½ê¸° ë¶€ì²œì‹œ]ì†Œì‚¬ë³¸ë™    26  2019-06-30
2969        [ê²½ê¸° í¬ì²œì‹œ]ê´€ì¸ë©´    20  2019-06-30

[2970 rows x 3 columns]

In [148]:
pm25_7 = pm25_7.drop(index=[0,1], axis=0)
pm25_7 = pm25_7.rename(columns=pm25_7.iloc[0])
pm25_7 = pm25_7.drop(index=[2])
pm25_7 = pm25_7.melt(id_vars='ì¸¡ì •ì†Œëª…', value_vars=['1ì¼', '2ì¼', '3ì¼', '4ì¼', '5ì¼', '6ì¼', '7ì¼', '8ì¼', '9ì¼', '10ì¼', '11ì¼', '12ì¼', '13ì¼', '14ì¼', '15ì¼', '16ì¼', '17ì¼', '18ì¼', '19ì¼', '20ì¼', '21ì¼', '22ì¼', '23ì¼', '24ì¼', '25ì¼', '26ì¼', '27ì¼', '28ì¼', '29ì¼', '30ì¼', '31ì¼'])
pm25_7['year'] = '2019'
pm25_7['month'] = '07'
pm25_7['variable'] = pm25_7['variable'].str.replace('ì¼','')
pm25_7 = pm25_7.rename(columns = {'variable':'days'})
pm25_7['days'] = pm25_7['days'].replace(['1','2','3','4','5','6','7','8','9'], ['01','02','03','04','05','06','07','08','09'])
pm25_7['date'] = pm25_7['year'] + "-" + pm25_7['month'] + "-" + pm25_7['days']
pm25_7 = pm25_7.drop(['days', 'year', 'month'], axis=1)
pm25_7

                   ì¸¡ì •ì†Œëª… value        date
0           [ê²½ê¸° ì´ì²œì‹œ]ì„¤ì„±ë©´    35  2019-07-01
1            [ê²½ê¸° íŒŒì£¼ì‹œ]íŒŒì£¼    24  2019-07-01
2           [ê²½ê¸° í¬ì²œì‹œ]ê´€ì¸ë©´    22  2019-07-01
3            [ê²½ê¸° ê°€í‰êµ°]ê°€í‰    26  2019-07-01
4           [ê²½ê¸° ê³ ì–‘ì‹œ]ì‹ì‚¬ë™    22  2019-07-01
...                 ...   ...         ...
3064  [ê²½ê¸° ì•ˆì‚°ì‹œ]ì¤‘ì•™ëŒ€ë¡œ(ê³ ì”ë™)     7  2019-07-31
3065   [ê²½ê¸° ì˜¤ì‚°ì‹œ]ê¸ˆì•”ë¡œ(ì‹ ì¥ë™)    13  2019-07-31
3066  [ê²½ê¸° ìš©ì¸ì‹œ]ì¤‘ë¶€ëŒ€ë¡œ(êµ¬ê°ˆë™)    12  2019-07-31
3067       [ê²½ê¸° ë¶€ì²œì‹œ]ì†Œì‚¬ë³¸ë™    15  2019-07-31
3068        [ê²½ê¸° í¬ì²œì‹œ]ê´€ì¸ë©´    13  2019-07-31

[3069 rows x 3 columns]

In [149]:
pm25_8 = pm25_8.drop(index=[0,1], axis=0)
pm25_8 = pm25_8.rename(columns=pm25_8.iloc[0])
pm25_8 = pm25_8.drop(index=[2])
pm25_8 = pm25_8.melt(id_vars='ì¸¡ì •ì†Œëª…', value_vars=['1ì¼', '2ì¼', '3ì¼', '4ì¼', '5ì¼', '6ì¼', '7ì¼', '8ì¼', '9ì¼', '10ì¼', '11ì¼', '12ì¼', '13ì¼', '14ì¼', '15ì¼', '16ì¼', '17ì¼', '18ì¼', '19ì¼', '20ì¼', '21ì¼', '22ì¼', '23ì¼', '24ì¼', '25ì¼', '26ì¼', '27ì¼', '28ì¼', '29ì¼', '30ì¼', '31ì¼'])
pm25_8['year'] = '2019'
pm25_8['month'] = '08'
pm25_8['variable'] = pm25_8['variable'].str.replace('ì¼','')
pm25_8 = pm25_8.rename(columns = {'variable':'days'})
pm25_8['days'] = pm25_8['days'].replace(['1','2','3','4','5','6','7','8','9'], ['01','02','03','04','05','06','07','08','09'])
pm25_8['date'] = pm25_8['year'] + "-" + pm25_8['month'] + "-" + pm25_8['days']
pm25_8 = pm25_8.drop(['days', 'year', 'month'], axis=1)
pm25_8

                   ì¸¡ì •ì†Œëª… value        date
0           [ê²½ê¸° ì´ì²œì‹œ]ì„¤ì„±ë©´    10  2019-08-01
1            [ê²½ê¸° íŒŒì£¼ì‹œ]íŒŒì£¼     7  2019-08-01
2           [ê²½ê¸° í¬ì²œì‹œ]ê´€ì¸ë©´    13  2019-08-01
3            [ê²½ê¸° ê°€í‰êµ°]ê°€í‰     2  2019-08-01
4           [ê²½ê¸° ê³ ì–‘ì‹œ]ì‹ì‚¬ë™     3  2019-08-01
...                 ...   ...         ...
3064  [ê²½ê¸° ì•ˆì‚°ì‹œ]ì¤‘ì•™ëŒ€ë¡œ(ê³ ì”ë™)     9  2019-08-31
3065   [ê²½ê¸° ì˜¤ì‚°ì‹œ]ê¸ˆì•”ë¡œ(ì‹ ì¥ë™)    13  2019-08-31
3066  [ê²½ê¸° ìš©ì¸ì‹œ]ì¤‘ë¶€ëŒ€ë¡œ(êµ¬ê°ˆë™)    12  2019-08-31
3067       [ê²½ê¸° ë¶€ì²œì‹œ]ì†Œì‚¬ë³¸ë™    18  2019-08-31
3068        [ê²½ê¸° í¬ì²œì‹œ]ê´€ì¸ë©´    12  2019-08-31

[3069 rows x 3 columns]

In [150]:
pm25_9 = pm25_9.drop(index=[0,1], axis=0)
pm25_9 = pm25_9.rename(columns=pm25_9.iloc[0])
pm25_9 = pm25_9.drop(index=[2])
pm25_9 = pm25_9.melt(id_vars='ì¸¡ì •ì†Œëª…', value_vars=['1ì¼', '2ì¼', '3ì¼', '4ì¼', '5ì¼', '6ì¼', '7ì¼', '8ì¼', '9ì¼', '10ì¼', '11ì¼', '12ì¼', '13ì¼', '14ì¼', '15ì¼', '16ì¼', '17ì¼', '18ì¼', '19ì¼', '20ì¼', '21ì¼', '22ì¼', '23ì¼', '24ì¼', '25ì¼', '26ì¼', '27ì¼', '28ì¼', '29ì¼', '30ì¼'])
pm25_9['year'] = '2019'
pm25_9['month'] = '09'
pm25_9['variable'] = pm25_9['variable'].str.replace('ì¼','')
pm25_9 = pm25_9.rename(columns = {'variable':'days'})
pm25_9['days'] = pm25_9['days'].replace(['1','2','3','4','5','6','7','8','9'], ['01','02','03','04','05','06','07','08','09'])
pm25_9['date'] = pm25_9['year'] + "-" + pm25_9['month'] + "-" + pm25_9['days']
pm25_9 = pm25_9.drop(['days', 'year', 'month'], axis=1)
pm25_9

                   ì¸¡ì •ì†Œëª… value        date
0           [ê²½ê¸° ì´ì²œì‹œ]ì„¤ì„±ë©´    17  2019-09-01
1            [ê²½ê¸° íŒŒì£¼ì‹œ]íŒŒì£¼    14  2019-09-01
2           [ê²½ê¸° í¬ì²œì‹œ]ê´€ì¸ë©´    12  2019-09-01
3            [ê²½ê¸° ê°€í‰êµ°]ê°€í‰     6  2019-09-01
4           [ê²½ê¸° ê³ ì–‘ì‹œ]ì‹ì‚¬ë™     9  2019-09-01
...                 ...   ...         ...
2965  [ê²½ê¸° ì•ˆì‚°ì‹œ]ì¤‘ì•™ëŒ€ë¡œ(ê³ ì”ë™)    33  2019-09-30
2966   [ê²½ê¸° ì˜¤ì‚°ì‹œ]ê¸ˆì•”ë¡œ(ì‹ ì¥ë™)    46  2019-09-30
2967  [ê²½ê¸° ìš©ì¸ì‹œ]ì¤‘ë¶€ëŒ€ë¡œ(êµ¬ê°ˆë™)    39  2019-09-30
2968       [ê²½ê¸° ë¶€ì²œì‹œ]ì†Œì‚¬ë³¸ë™    70  2019-09-30
2969        [ê²½ê¸° í¬ì²œì‹œ]ê´€ì¸ë©´    21  2019-09-30

[2970 rows x 3 columns]

In [151]:
pm25_10 = pm25_10.drop(index=[0,1], axis=0)
pm25_10 = pm25_10.rename(columns=pm25_10.iloc[0])
pm25_10 = pm25_10.drop(index=[2])
pm25_10 = pm25_10.melt(id_vars='ì¸¡ì •ì†Œëª…', value_vars=['1ì¼', '2ì¼', '3ì¼', '4ì¼', '5ì¼', '6ì¼', '7ì¼', '8ì¼', '9ì¼', '10ì¼', '11ì¼', '12ì¼', '13ì¼', '14ì¼', '15ì¼', '16ì¼', '17ì¼', '18ì¼', '19ì¼', '20ì¼', '21ì¼', '22ì¼', '23ì¼', '24ì¼', '25ì¼', '26ì¼', '27ì¼', '28ì¼', '29ì¼', '30ì¼', '31ì¼'])
pm25_10['year'] = '2019'
pm25_10['month'] = '10'
pm25_10['variable'] = pm25_10['variable'].str.replace('ì¼','')
pm25_10 = pm25_10.rename(columns = {'variable':'days'})
pm25_10['days'] = pm25_10['days'].replace(['1','2','3','4','5','6','7','8','9'], ['01','02','03','04','05','06','07','08','09'])
pm25_10['date'] = pm25_10['year'] + "-" + pm25_10['month'] + "-" + pm25_10['days']
pm25_10 = pm25_10.drop(['days', 'year', 'month'], axis=1)
pm25_10

                   ì¸¡ì •ì†Œëª… value        date
0           [ê²½ê¸° ì´ì²œì‹œ]ì„¤ì„±ë©´    48  2019-10-01
1            [ê²½ê¸° íŒŒì£¼ì‹œ]íŒŒì£¼    36  2019-10-01
2           [ê²½ê¸° í¬ì²œì‹œ]ê´€ì¸ë©´    18  2019-10-01
3            [ê²½ê¸° ê°€í‰êµ°]ê°€í‰    14  2019-10-01
4           [ê²½ê¸° ê³ ì–‘ì‹œ]ì‹ì‚¬ë™    37  2019-10-01
...                 ...   ...         ...
3064  [ê²½ê¸° ì•ˆì‚°ì‹œ]ì¤‘ì•™ëŒ€ë¡œ(ê³ ì”ë™)    19  2019-10-31
3065   [ê²½ê¸° ì˜¤ì‚°ì‹œ]ê¸ˆì•”ë¡œ(ì‹ ì¥ë™)    25  2019-10-31
3066  [ê²½ê¸° ìš©ì¸ì‹œ]ì¤‘ë¶€ëŒ€ë¡œ(êµ¬ê°ˆë™)    22  2019-10-31
3067       [ê²½ê¸° ë¶€ì²œì‹œ]ì†Œì‚¬ë³¸ë™    34  2019-10-31
3068        [ê²½ê¸° í¬ì²œì‹œ]ê´€ì¸ë©´    22  2019-10-31

[3069 rows x 3 columns]

In [152]:
pm25_11 = pm25_11.drop(index=[0,1], axis=0)
pm25_11 = pm25_11.rename(columns=pm25_11.iloc[0])
pm25_11 = pm25_11.drop(index=[2])
pm25_11 = pm25_11.melt(id_vars='ì¸¡ì •ì†Œëª…', value_vars=['1ì¼', '2ì¼', '3ì¼', '4ì¼', '5ì¼', '6ì¼', '7ì¼', '8ì¼', '9ì¼', '10ì¼', '11ì¼', '12ì¼', '13ì¼', '14ì¼', '15ì¼', '16ì¼', '17ì¼', '18ì¼', '19ì¼', '20ì¼', '21ì¼', '22ì¼', '23ì¼', '24ì¼', '25ì¼', '26ì¼', '27ì¼', '28ì¼', '29ì¼', '30ì¼'])
pm25_11['year'] = '2019'
pm25_11['month'] = '11'
pm25_11['variable'] = pm25_11['variable'].str.replace('ì¼','')
pm25_11 = pm25_11.rename(columns = {'variable':'days'})
pm25_11['days'] = pm25_11['days'].replace(['1','2','3','4','5','6','7','8','9'], ['01','02','03','04','05','06','07','08','09'])
pm25_11['date'] = pm25_11['year'] + "-" + pm25_11['month'] + "-" + pm25_11['days']
pm25_11 = pm25_11.drop(['days', 'year', 'month'], axis=1)
pm25_11

                   ì¸¡ì •ì†Œëª… value        date
0           [ê²½ê¸° ì´ì²œì‹œ]ì„¤ì„±ë©´    45  2019-11-01
1            [ê²½ê¸° íŒŒì£¼ì‹œ]íŒŒì£¼    20  2019-11-01
2           [ê²½ê¸° í¬ì²œì‹œ]ê´€ì¸ë©´    30  2019-11-01
3            [ê²½ê¸° ê°€í‰êµ°]ê°€í‰    37  2019-11-01
4           [ê²½ê¸° ê³ ì–‘ì‹œ]ì‹ì‚¬ë™    25  2019-11-01
...                 ...   ...         ...
2965  [ê²½ê¸° ì•ˆì‚°ì‹œ]ì¤‘ì•™ëŒ€ë¡œ(ê³ ì”ë™)    34  2019-11-30
2966   [ê²½ê¸° ì˜¤ì‚°ì‹œ]ê¸ˆì•”ë¡œ(ì‹ ì¥ë™)    33  2019-11-30
2967  [ê²½ê¸° ìš©ì¸ì‹œ]ì¤‘ë¶€ëŒ€ë¡œ(êµ¬ê°ˆë™)    27  2019-11-30
2968       [ê²½ê¸° ë¶€ì²œì‹œ]ì†Œì‚¬ë³¸ë™    39  2019-11-30
2969        [ê²½ê¸° í¬ì²œì‹œ]ê´€ì¸ë©´    11  2019-11-30

[2970 rows x 3 columns]

In [153]:
pm25 = pd.concat([pm25_12,pm25_1,pm25_2,pm25_3,pm25_4,pm25_5,pm25_6,pm25_7,pm25_8,pm25_9,pm25_10,pm25_11], axis=0)
pm25

                   ì¸¡ì •ì†Œëª… value        date
0           [ê²½ê¸° ì´ì²œì‹œ]ì„¤ì„±ë©´   NaN  2018-12-01
1            [ê²½ê¸° íŒŒì£¼ì‹œ]íŒŒì£¼   NaN  2018-12-01
2           [ê²½ê¸° í¬ì²œì‹œ]ê´€ì¸ë©´   NaN  2018-12-01
3            [ê²½ê¸° ê°€í‰êµ°]ê°€í‰    23  2018-12-01
4           [ê²½ê¸° ê³ ì–‘ì‹œ]ì‹ì‚¬ë™    21  2018-12-01
...                 ...   ...         ...
2965  [ê²½ê¸° ì•ˆì‚°ì‹œ]ì¤‘ì•™ëŒ€ë¡œ(ê³ ì”ë™)    34  2019-11-30
2966   [ê²½ê¸° ì˜¤ì‚°ì‹œ]ê¸ˆì•”ë¡œ(ì‹ ì¥ë™)    33  2019-11-30
2967  [ê²½ê¸° ìš©ì¸ì‹œ]ì¤‘ë¶€ëŒ€ë¡œ(êµ¬ê°ˆë™)    27  2019-11-30
2968       [ê²½ê¸° ë¶€ì²œì‹œ]ì†Œì‚¬ë³¸ë™    39  2019-11-30
2969        [ê²½ê¸° í¬ì²œì‹œ]ê´€ì¸ë©´    11  2019-11-30

[35317 rows x 3 columns]

In [157]:
pm25['ì¸¡ì •ì†Œëª…'].unique()

array(['[ê²½ê¸° ì´ì²œì‹œ]ì„¤ì„±ë©´', '[ê²½ê¸° íŒŒì£¼ì‹œ]íŒŒì£¼', '[ê²½ê¸° í¬ì²œì‹œ]ê´€ì¸ë©´', '[ê²½ê¸° ê°€í‰êµ°]ê°€í‰',
       '[ê²½ê¸° ê³ ì–‘ì‹œ]ì‹ì‚¬ë™', '[ê²½ê¸° ê³ ì–‘ì‹œ]ì‹ ì›ë™', '[ê²½ê¸° ê³ ì–‘ì‹œ]ì£¼ì—½ë™', '[ê²½ê¸° ê³ ì–‘ì‹œ]í–‰ì‹ ë™',
       '[ê²½ê¸° ê³¼ì²œì‹œ]ê³¼ì²œë™', '[ê²½ê¸° ê³¼ì²œì‹œ]ë³„ì–‘ë™', '[ê²½ê¸° ê´‘ëª…ì‹œ]ì†Œí•˜ë™', '[ê²½ê¸° ê´‘ëª…ì‹œ]ì² ì‚°ë™',
       '[ê²½ê¸° ê´‘ì£¼ì‹œ]ê²½ì•ˆë™', '[ê²½ê¸° êµ¬ë¦¬ì‹œ]êµë¬¸ë™', '[ê²½ê¸° êµ¬ë¦¬ì‹œ]ë™êµ¬ë™', '[ê²½ê¸° êµ°í¬ì‹œ]ë‹¹ë™',
       '[ê²½ê¸° êµ°í¬ì‹œ]ì‚°ë³¸ë™', '[ê²½ê¸° ê¹€í¬ì‹œ]ê³ ì´Œì', '[ê²½ê¸° ê¹€í¬ì‹œ]ì‚¬ìš°ë™', '[ê²½ê¸° ê¹€í¬ì‹œ]ì›”ê³¶ë©´',
       '[ê²½ê¸° ë‚¨ì–‘ì£¼ì‹œ]ê¸ˆê³¡ë™', '[ê²½ê¸° ë‚¨ì–‘ì£¼ì‹œ]ë³„ë‚´ë™', '[ê²½ê¸° ë‚¨ì–‘ì£¼ì‹œ]ì˜¤ë‚¨ì', '[ê²½ê¸° ë‚¨ì–‘ì£¼ì‹œ]í™”ë„ì',
       '[ê²½ê¸° ë™ë‘ì²œì‹œ]ë³´ì‚°ë™', '[ê²½ê¸° ë¶€ì²œì‹œ]ë‚´ë™', '[ê²½ê¸° ë¶€ì²œì‹œ]ì†Œì‚¬ë³¸ë™', '[ê²½ê¸° ë¶€ì²œì‹œ]ì˜¤ì •ë™',
       '[ê²½ê¸° ë¶€ì²œì‹œ]ì¤‘2ë™', '[ê²½ê¸° ì„±ë‚¨ì‹œ]ë‹¨ëŒ€ë™', '[ê²½ê¸° ì„±ë‚¨ì‹œ]ë³µì •ë™', '[ê²½ê¸° ì„±ë‚¨ì‹œ]ìƒëŒ€ì›ë™',
       '[ê²½ê¸° ì„±ë‚¨ì‹œ]ìˆ˜ë‚´ë™', '[ê²½ê¸° ì„±ë‚¨ì‹œ]ìš´ì¤‘ë™', '[ê²½ê¸° ì„±ë‚¨ì‹œ]ì •ìë™', '[ê²½ê¸° ìˆ˜ì›ì‹œ]ê³ ìƒ‰ë™',
       '[ê²½ê¸° ìˆ˜ì›ì‹œ]ê´‘êµë™', '[ê²½ê¸° ìˆ˜ì›ì‹œ]ì‹ í’ë™', '[ê²½ê¸° ìˆ˜ì›ì‹œ]ì˜í†µë™', '[ê²½ê¸° ìˆ˜ì›ì‹œ]ì¸ê³„ë™',
       '[ê²½ê¸° ìˆ˜ì›ì‹œ]ì²œì²œë™', '[ê²½ê¸° ì‹œí¥ì‹œ]ëŒ€ì•¼ë™', '[ê²½ê¸° ì‹œí¥ì‹œ]ì‹œí™”ì‚°ë‹¨', '[ê²½ê¸° ì‹œí¥ì‹œ]ì •ì™•ë™',
       '[ê²½ê¸° ì•ˆì‚°ì‹œ]ê³ ì”ë™', '[ê²½ê¸° ì•ˆì‚°ì‹œ]ë³¸ì˜¤ë™', '[ê²½ê¸° ì•ˆì‚°ì‹œ]ë¶€ê³¡ë™1', '[ê²½ê¸° ì•ˆì‚°ì‹œ]ì›ê³¡ë™',
       '[ê²½ê¸° ì•ˆì‚°ì‹œ]ì›ì‹œë™', '[ê²½ê¸° ì•ˆì‚°ì‹œ]í˜¸ìˆ˜ë™', '[ê²½ê¸° ì•ˆì„±ì‹œ]ë´‰ì‚°ë™', '[ê²½ê¸° ì•ˆì–‘ì‹œ]ë¶€ë¦¼ë™',
       '[ê²½ê¸° ì•ˆì–‘ì‹œ]ì•ˆì–‘2ë™', '[ê²½ê¸° ì•ˆì–‘ì‹œ]ì•ˆì–‘8ë™', '[ê²½ê¸° ì•ˆì–‘ì‹œ]í˜¸ê³„ë™', '[ê²½ê¸° ì–‘ì£¼ì‹œ]ê³ ì',
       '[ê²½ê¸° ì–‘ì£¼ì‹œ]ë°±ì„ì', '[ê²½ê¸° ì–‘í‰êµ°]ìš©ë¬¸ë©´', '[ê²½ê¸° ì—¬ì£¼ì‹œ]ì¤‘ì•™ë™(ê²½ê¸°)', '[ê²½ê¸° ì—°ì²œêµ°]ì—°ì²œ',
       '[ê²½ê¸° ì˜¤ì‚°ì‹œ]ì˜¤ì‚°ë™', '[ê²½ê¸° ìš©ì¸ì‹œ]ê¸°í¥', '[ê²½ê¸° ìš©ì¸ì‹œ]ê¹€ëŸ‰ì¥ë™', '[ê²½ê¸° ìš©ì¸ì‹œ]ìˆ˜ì§€',
       '[ê²½ê¸° ì˜ì™•ì‹œ]ê³ ì²œë™', '[ê²½ê¸° ì˜ì™•ì‹œ]ë¶€ê³¡3ë™', '[ê²½ê¸° ì˜ì •ë¶€ì‹œ]ì˜ì •ë¶€1ë™', '[ê²½ê¸° ì˜ì •ë¶€ì‹œ]ì˜ì •ë¶€ë™',
       '[ê²½ê¸° ì´ì²œì‹œ]ì°½ì „ë™', '[ê²½ê¸° íŒŒì£¼ì‹œ]ê¸ˆì´Œë™', '[ê²½ê¸° íŒŒì£¼ì‹œ]ìš´ì •', '[ê²½ê¸° í‰íƒì‹œ]ë¹„ì „ë™',
       '[ê²½ê¸° í‰íƒì‹œ]ì†¡ë¶ë™', '[ê²½ê¸° í‰íƒì‹œ]ì•ˆì¤‘', '[ê²½ê¸° í‰íƒì‹œ]í‰íƒí•­', '[ê²½ê¸° í¬ì²œì‹œ]ì„ ë‹¨ë™',
       '[ê²½ê¸° í¬ì²œì‹œ]ì¼ë™ë©´', '[ê²½ê¸° í•˜ë‚¨ì‹œ]ì‹ ì¥ë™', '[ê²½ê¸° í™”ì„±ì‹œ]ë‚¨ì–‘ì', '[ê²½ê¸° í™”ì„±ì‹œ]ë™íƒ„',
       '[ê²½ê¸° í™”ì„±ì‹œ]ìš°ì •ì', '[ê²½ê¸° í™”ì„±ì‹œ]ì²­ê³„ë™', '[ê²½ê¸° í™”ì„±ì‹œ]í–¥ë‚¨ì', '[ê²½ê¸° ê³ ì–‘ì‹œ]ë°±ë§ˆë¡œ(ë§ˆë‘ì—­)',
       '[ê²½ê¸° ë¶€ì²œì‹œ]ì†¡ë‚´ëŒ€ë¡œ(ì¤‘ë™)', '[ê²½ê¸° ì„±ë‚¨ì‹œ]ëŒ€ì™•íŒêµë¡œ(ë°±í˜„ë™)', '[ê²½ê¸° ì„±ë‚¨ì‹œ]ì„±ë‚¨ëŒ€ë¡œ(ëª¨ë€ì—­)',
       '[ê²½ê¸° ìˆ˜ì›ì‹œ]ê²½ìˆ˜ëŒ€ë¡œ(ë™ìˆ˜ì›)', '[ê²½ê¸° ì•ˆì‚°ì‹œ]ì¤‘ì•™ëŒ€ë¡œ(ê³ ì”ë™)', '[ê²½ê¸° ìš©ì¸ì‹œ]ì¤‘ë¶€ëŒ€ë¡œ(êµ¬ê°ˆë™)',
       '[ê²½ê¸° ì–‘í‰êµ°]ê°•í•˜ë©´', '[ê²½ê¸° ì´ì²œì‹œ]ì¥í˜¸ì›ì', '[ê²½ê¸° ì•ˆì‚°ì‹œ]ëŒ€ë¶€ë™', '[ê²½ê¸° ìˆ˜ì›ì‹œ]í˜¸ë§¤ì‹¤ë™',
       '[ê²½ê¸° ìš©ì¸ì‹œ]ëª¨í˜„ì', '[ê²½ê¸° ìš©ì¸ì‹œ]ë°±ì•”ë©´', '[ê²½ê¸° ìš©ì¸ì‹œ]ì´ë™ì', '[ê²½ê¸° ì˜¤ì‚°ì‹œ]ê¸ˆì•”ë¡œ(ì‹ ì¥ë™)'],
      dtype=object)

In [155]:
pm10.to_csv('/content/gdrive/MyDrive/Data Analysis/Aiffel/HAC/03/data/pm10.csv', index=False)

In [156]:
pm25.to_csv('/content/gdrive/MyDrive/Data Analysis/Aiffel/HAC/03/data/pm25.csv', index=False)